.about-me#about
    .container
        .head
            h2 about 
                span me
                span.bottom
                span.bottom
                
        .main-about
            .img(data-aos="fade-right")#imgDiv 
                img(src="assets/my-image.png", alt="Yog Sharma")
            .data(data-aos="fade-left")#dataDiv  
                p I YOG SHARMA, a passionate about making sure that system, interfaces, language and graphics are human-friendly, emotive, aesthetically pleasing, clear, on-brand and usable — with a touch of mellow smoothness. From workflow diagrams to detailed user interface mockups, I love shaping and crafting on-screen experiences.

                ul 
                    li: p Name: Yog Sharma
                    li: p Maritial Status: Unmarried
                    li: p Resident: Alwar(Raj.)-301001
                    li: p Avaiable For Job: Yes
                    
