.outer-wrapper
    .wrapper    
        .hero1-div(data-aos="fade-up")  
            h1 Hel
                span lo.
            img(src="assets/mouse-down.png", alt="mouse down")

        .hero2-div
            h1 My name is yog sharma and i 
                span#demo.typer(  data-words="Design Websites.,Code Websites,Code Backend.,Make UX Better." data-delay="80" data-deleteDelay="1000" color="white") My name is yog sharma and i design web solutions.
            img(src="assets/mouse-down.png", alt="mouse down")

