.technology#tech
    //- video(autoplay muted loop id="myVideo")
    //-     source(src="assets/background.mp4" type="video/mp4")
    .container

  
      
        .head
            h2 tech. 
                span I Know
                span.bottom
                span.bottom
                
        .main-technology
            .upper-div
                .one(data-aos="fade-down-right")  
                    div
                        a(href="http://figma.com")
                            img(src="assets/figma.png", alt="", srcset="")
                        
    
                .two(data-aos="fade-down")  
                    div
                        a(href="http://html.com")
                            img(src="assets/html.png", alt="", srcset="")
                .three(data-aos="fade-down")  
                    div
                        a(href="http://css.com")
                            img(src="assets/css.png", alt="", srcset="")

                .seven(data-aos="fade-down-left")  
                    div
                        a(href="https://www.w3schools.com/js/DEFAULT.asp")
                            img(src="assets/javascript.png", alt="", srcset="")
              
            .lower-div
                .four(data-aos="fade-up-right")  
                    div
                        a(href="http://reactjs.org")
                            img(src="assets/react.png", alt="", srcset="")
                .five(data-aos="fade-up")  
                    div
                        a(href="https://nodejs.org/en/")
                            img(src="assets/node.png", alt="", srcset="")
                .six(data-aos="fade-up-left")  
                    div
                        a(href="https://www.w3schools.com/js/DEFAULT.asp")
                            img(src="assets/javascript.png", alt="", srcset="")
            
                    

