.nav-hover
    ul
        li: a(data-scroll href="#") Home
        li: a(href="#about") About
        li: a(href="#tech") Technology
        li: a(href="#portfolio") Portfolio
        li: a(data-scroll href="#contact") Contact


        