.nav-hover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  width: 100vw;
  height: 100vh;
  background-color: $dark-color;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  transition: all 0.5s ease;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    list-style: none;
    height: 80%;
    a {
      font-size: 30px;
      color: $light-color;
      letter-spacing: 3px;
      text-decoration: none;
      transform: translateY(-200px);
    }
  }
}

.nav-click {
  transform: translateX(0);
}

.a-click {
  animation: anchor-anime 0.7s ease;
}

@keyframes anchor-anime {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
